/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(../images/wastemanagement2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Container Styles */
.container {
    background-color: rgb(196, 204, 204);
    
    padding: 30px;
    margin-right: 60%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Heading Styles */
.container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Button Styles */
.btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}
